@import url("./main.css");

body {
  font-family: var(--font-inter-black);
  background-color: var(--color-green-light);
  height: 100vh;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content {
  background-color: var(--color-green-t);
  padding: 32px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.btn {
  cursor: pointer;
  padding: 6px 12px;
  background-color: white;
  border-radius: 6px;
}
